body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f9f9f9;
}

#book-container {
    position: relative;
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#book-content {
    position: relative;
    width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.page {
    display: none;
    width: 100%;
    transition: opacity 0.5s ease;
}

.page img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#nav-buttons {
    text-align: center;
    margin-top: 20px;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(240, 240, 240, 0.8);
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #ccc;
    transform: scale(1.1);
}

#prev-page {
    margin-right: 10px;
}

button:focus {
    outline: none;
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
    button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
