body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    overflow: hidden;
    /* Prevent scrollbars */
}

#bookshelf-container {
    position: relative;
    text-align: center;
}

.responsive-bookshelf {
    max-width: 70%;
    /* Adjust to make image responsive */
    height: auto;
    display: block;
    margin: 0 auto;
}

#book-covers-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    /* Hidden by default */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 999;
    /* Ensure it's on top */
}

.book-covers-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-height: 80%;
    overflow-y: auto;
    margin-bottom: 20px;
}

.book-covers-grid img {
    width: 100%;
    max-width: 300px;
    /* Adjust size of book covers */
    height: auto;
    border-radius: 8px;
}

#back-button {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

#back-button:hover {
    background-color: #ddd;
}